html {
  font-family: sans-serif;
}

.card {
  border: 3px solid #000;
  border-radius: 8px;
  color: #333;
  text-decoration: none;
}

.card:hover {
  background-color: #e6e6e6;
  color: #000;
}

.btn {
  background-color: #333;
  color: #fff;
}
